body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f4f7fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color:#1e3a8a;
  font-weight:bold;
}

.table{
  background:white;
  border-radius:10px;
}

.btn-primary{
  background-color:#1e3a8a;
  border:none;
}

.btn-primary:hover{
  background-color:#162d66;
}